body {
    background: rgb(220,212,230);
    background: linear-gradient(30deg, rgba(220,212,230,1) 45%, rgba(224,187,219,1) 70%, rgba(254,211,187,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #f0f0f0;
    padding: 5% 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 1em;
}

.header {
    text-align: left;
    width: 100%;
    padding-bottom:1em;
}

.header h1 {
    font-size: 2.15vw;
    font-family: "Parkinsans";
    color:#6357c9; 
}

.container form {
    display: flex;
    flex-direction: column;
    width:100%;
}

.container form label {
    font-size: 1.2vw;
    color:#6e6978;
    padding:0.75em 0.25em;
}

.container form input {
    background-color: #f0f0f0;
    width:100%;
    border-radius: 10em;
    border:1px solid #6e6978;
    padding:0.65em;
    font-size: 1.15vw;
    color: #888;
}

.container form input:focus {
    border: 1px solid #6357c9;
    background-color: #e7e6f0;
    outline:none;
    transition: 0.1s;
}

.container .createQuiz-btn {
    width:30%;
    font-size: 1.2vw;
    font-weight: 600;
    background: rgb(99,87,201);
    background: linear-gradient(33deg, rgba(99,87,201,1) 0%, rgba(133,121,237,1) 60%, rgba(210,178,255,1) 100%);
    color:#f0f0f0;
    padding:2.5%;
    border:none;
    margin-top: 2em;
    cursor:pointer;
}

.container .createQuiz-btn:hover {
    background: rgb(99,87,201);
    background: linear-gradient(33deg, rgba(99,87,201,1) 0%, rgba(133,121,237,1) 40%, rgba(210,178,255,1) 70%, rgba(255,214,244,1) 100%);
}



@media (max-width:580px){

    body {
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 90%;
        padding:7.5% 5%;
        border-radius: 0.5em;
    }
    
    .header h1 {
        font-size: 7vw;
        text-align: center;
        padding:0;
    }
    
    .container form {
        padding:5%;
    }
    
    .container form label {
        font-size: 4.5vw;
        padding:0.75em 0.5em;
    }
    
    .container form input {
        width:100%;
        padding:0.75em;
        font-size: 4.25vw;
    }

    .container .createQuiz-btn {
        width: 100%;
        font-size: 5vw;
        font-weight: 600;
        padding:3.5% 2.5%;
        margin-top: 0.75em;
    }

}