body {
    background-color: #f0f0f0;
}

nav {
    background: rgb(97,75,171);
    background: linear-gradient(30deg, rgba(97,75,171,1) 15%, rgba(232,126,93,1) 65%, rgba(255,225,163,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #f0f0f0;
    padding:0.5em 10%;
    align-items: center;
}

.userContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userContainer img {
    width: 3.5em;
    clip-path: circle(50%);
}

.userContainer h1 {
    color: #f0f0f0;
    padding: 0 1em;
    font-size: 1.25vw;
    font-weight: 400;
}

.userScore {
    color:#f0f0f0;
    padding:0.5em;
    font-size: 1.5vw;
    font-weight: 600;
    font-family: "Parkinsans";
    border: 1px solid #f0f0f0;
    border-radius: 0.35em;
}

.createQuiz-btn {
    color:#f0f0f0;
    padding:0.5em 1.25em;
    background-color: #6357c9;
    text-decoration: none;
    font-size: 1.25vw;
    font-weight: 500;
    border-radius: 0.5em;
}

.createQuiz-btn:hover {
    background-color: #a281eb;
    translate: 0.1s;
}

.createQuiz-btn-mobile {
    display: none;
}

.container {
    width:100%;
    display: flex;
    flex-direction: column;
    padding:2.5% 0;
}

.title {
    display: block;
    width:70%;
    font-size: 2vw;
    font-weight: 600;
    font-family: "Parkinsans";
    color: #6357c9;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.searchQuiz {
    display: flex;
    flex-direction: column;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding:1em 5%;
}

.searchQuiz .searchQuizInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1em;
}

.searchQuiz input {
    background-color: #f0f0f0;
    width:80%;
    border-radius: 10em;
    border:1px solid #6e6978;
    padding:0.75em;
    font-size: 1.25vw;
    color: #888;
}

.searchQuiz input:focus {
    border: 1px solid #6357c9;
    background-color: #e7e6f0;
    outline:none;
    transition: 0.1s;
}

.searchQuiz .search-btn {
    width:20%;
    font-weight: 600;
    background: rgb(99,87,201);
    background: linear-gradient(33deg, rgba(99,87,201,1) 0%, rgba(133,121,237,1) 60%, rgba(210,178,255,1) 100%);
    color:#f0f0f0;
    border:none;
    cursor:pointer;
}

.searchQuiz .search-btn:hover {
    background: rgb(99,87,201);
    background: linear-gradient(33deg, rgba(99,87,201,1) 0%, rgba(133,121,237,1) 40%, rgba(210,178,255,1) 70%, rgba(255,214,244,1) 100%);
}

.searchQuiz table {
    display:table;
    width: 100%;
    margin-top: 5%;
    border-collapse:collapse;
}

.searchQuiz table th {
    padding:0.75em;
    text-align: center;
    color: #4e4882;
    font-size: 1.25vw;
    background-color: #e0daeb;
    border: 1px solid #bdb7c9;
}

.th_id {
    width: 10%;
}

.th_title {
    width:45%;
}

.th_author {
    width:20%;
}

.th_players {
    width:10%;
}

.th_play-btn {
    width:15%;
}

.searchQuiz table td {
    padding:0.5em;
    border: 1px solid #bdb7c9;
    color: #54515c;
    font-size: 1.15vw;
}

.searchQuiz table .play-btn {
    display: block;
    width:100%;
    text-decoration: none;
    background: rgb(228,101,32);
    background: linear-gradient(30deg, rgba(228,101,32,1) 0%, rgba(255,179,92,1) 100%);
    font-size: 1.35vw;
    font-weight: 600;
    color: #f0f0f0;
    padding:0.5em;
    text-align: center;
    border-radius: 0.5em;
}

.searchQuiz table .play-btn:hover {
    background: #f9a75e;
}





@media (max-width:580px){

    nav {
        width: 100%;
        padding:0.5em 5%;
    }
    
    .userContainer {
        align-items: center;
    }
    
    .userContainer img {
        width: 3.5em;
        clip-path: circle(50%);
    }
    
    .userContainer h1 {
        padding: 0 0.5em;
        font-size: 4.25vw;
        font-weight: 500;
    }
    
    .userScore {
        padding:0.75em;
        font-size: 4.25vw;
        font-weight: 600;
        border: 2px solid #f0f0f0;
        border-radius: 0.35em;
    }
    
    .createQuiz-btn {
        display: none;
    }

    .container {
        padding:2.5% 0;
    }
    
    .title {
        width:100%;
        font-size: 5vw;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        padding: 0;
    }
    
    .searchQuiz {
        justify-content: center;
        align-items: center;
        width:100%;
        padding: 0;
    }
    
    .searchQuiz form {
        width:100%;
    }

    .searchQuiz .searchQuizInput {
        flex-direction: column;
        justify-content: center;
        row-gap: 0.5em;
        padding: 3.5% 10%;
    }
    
    .searchQuiz input {
        width:100%;
        padding:1em;
        font-size: 4vw;
    }
    
    .searchQuiz .search-btn {
        width:100%;
        font-size: 4vw;
        padding: 0.75em;
        /* margin-left: auto;
        margin-right: auto; */
    }
    
    .searchQuiz table {
        display:table;
        width: 90%;
        margin-top: 2.5%;
    }
    
    .searchQuiz table th {
        padding:0.5em;
        font-size: 4.5vw;
        border: 2px solid #bdb7c9;
    }
    
    .th_id {
        width: 20%;
    }
    
    .th_title {
        width:55%;
    }
    
    .th_author {
        display:none
    }
    
    .th_players {
        display:none;
    }
    
    .th_play-btn {
        width:25%;
    }

    .td_players{
        display:none;
    }

    .td_author{
        display:none;
    }
    
    .searchQuiz table td {
        padding:0.35em;
        border: 2px solid #bdb7c9;
        font-size: 4.25vw;
    }
    
    .searchQuiz table .play-btn {
        width:100%;
        font-size: 4.5vw;
        padding:0.5em;
        border-radius: 0.25em;
    }

    .createQuiz-btn-mobile {
        display: block;
        position:fixed;
        right:0 auto;
        left:0 auto;
        bottom:5%;
        color:#f0f0f0;
        padding:3.5% 5%;
        background-color: #6357c9;  
        border:0.2em solid #b3acf2;
        text-decoration: none;
        font-size: 4.5vw;
        font-weight: 600;
        border-radius: 0.5em;
        text-align: center;
    }

}
